div.catItemView {
	padding: 0 0 1em 0;
}

div.catItemHeader h3.catItemTitle {
	font-size: 16px;
	padding: 0;

	a {
		color: $navy;
		&:hover {
			text-decoration: underline;
		}
	}
}

div.catItemBody {
	padding: 0;
}

div.itemView {
	border: 0;

	h2 {
		font-size: 16px;
		margin: 1.5em 0 .5em;
	}
}

div.itemList,
div.itemBody {
	padding: 22px 0 1em 0;
}

div.itemImageBlock {
	padding: 0;
	margin: 0em 1em 0em 0em;
	float: left;
}

div.k2Pagination {
	li {
		padding: 0 5px;
	}
}

span.itemImage img {
	@include image-border;
}

h1.itemTitle {
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}

.itemDate {
	color: $light-navy;
	font-weight: bold;
}

.itemFullText {
	p {
		margin-top: 0;
	}
}


//comments 

div.itemComments {
	background: whitesmoke;

	ul.itemCommentsList {

		li {
			border: 0;
		}
	}

}