#k2Container {
	padding-top: 5px;
}

div.catItemView {
	padding: 0 0 1em 0;
}

div.catItemHeader h3.catItemTitle {
	font-size: 16px;
	padding: 0;

	a {
		color: $navy;
		&:hover {
			text-decoration: underline;
		}
	}
}

div.catItemBody {
	padding: 0;
}

div.itemView {
	border: 0;

	h2 {
		font-size: 16px;
		margin: 1.5em 0 .5em;
	}
}

div.itemList {
	padding: 22px 0 1em 0;
}

div.catItemIntroText {
	padding-top: 0;

	p {
		margin: .5em 0;
	}
}

div.catItemImageBlock,
div.itemImageBlock {
	width: 30.327868852%;
	padding: 0;
	margin: 0em 1em 0em 0em;
	float: left;
}

div.catItemImageBlock + div.catItemBody {
	padding-left: 95px;
}

span.catItemImage img{
	@include image-border-darker;
}

span.itemImage img {
	@include image-border-darker;
}

.itemDate {
	color: $light-navy;
	font-weight: bold;
}

.itemFullText {
	p {
		margin-top: 0;
	}
}

dt.result-title {
	a {
		color: $navy;
	}
}


//comments 

div.itemComments {
	background: whitesmoke;

	ul.itemCommentsList {

		li {
			border: 0;
		}
	}

}