@import "_variables";
@import "_mixins";

/* forms */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
/* TODO Update valid/invalid colors */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

input, 
textarea {
	padding: 4px;
	border: 1px solid lightGrey;
}

input[type="submit"],
div.itemCommentsForm form input#submitCommentButton {
	padding: 8px 15px !important;
	background-color: $navy;
	color: #ffffff;
}

//choroforms
.chronoform {
	display: none;
}

.ccms_form_element {
	padding-left: 0;

	textarea {
		width: 100%;
	}
}

//k2 comment
div.itemComments {
	background: none !important;
	border: 0;
	padding: 0;

	label {
		font-weight: bold;
		margin: 12px 0 6px !important;
		line-height: 18px;
	}

	ul.itemCommentsList {
		li.authorResponse {
			background: none;
			padding: 0;

			p {
				margin-top: 0;
			}
		}

		span.commentDate {
			border-left: 1px solid #CCC;
			border-right: none !important;
			padding: 0 0 0 4px !important;
		}
	}

	form {

		input.inputbox,
		textarea.inputbox {
			width: 100%;
			max-width: 350px;
		}

		textarea.inputbox {
			max-width: 500px;
		}

		span#formLog {
			color: $navy;
			display: block;
			margin: 20px 0 0;
			padding: 0;
		}
	}
}