ul.sigProContainer {
	margin-left: -3% !important;
	
	li.sigProThumb {
		width: 47%;
		margin: 0 0 11px 3%;	//11px 13px
		@include image-border;

		.sigProLinkOuterWrapper {
			background: none;
			padding: 0 !important;
		}

		.sigProLinkWrapper {
			margin: 0 !important;
			padding: 0 !important;
			border: 0 !important;
		}

		.sigProLink {
			width: auto !important;
		}

		img {
			width: 190px;
		}
	}
}