body {
	background-color: #0d243f;
}

.container {
	width: 95%;
	padding: 0 2.5%;
	margin: 0 auto;
}

#mobile-menu {
	background-color: $navy;
	padding: 5px 0;
	border-bottom: 5px solid $yellow;

	&.menu-close {
		border-bottom: 0;
	}
}

#wrapper {
	background-color: white;
}

#header {
	height: 250px;
	border-bottom: 5px solid $yellow;
	background: #0d223f url('../images/bg_header.jpg') top center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1000; //puts menu above content

	.home & {
		height: 345px;
	}

	> div {
		position: relative;
		top: 50px;
		background: url('../images/bg_menu.png') top center repeat-x;
		padding: 13px 0;
	}
}

#main {
	padding: 10px 0 40px;

	.home & {
		padding-top: 20px;
	}
}

#content {

	.home & {
		font-size: 16px;
	}

	&.wide1 {
		width: 100%;
	}
}

#sidebar {
	margin: 1em 0 0;
	padding: 2em 0;
	border-top: 1px solid $light-grey;
	display: inline-block;
	*display: inline;
	*zoom: 1;

	.home & {
		border-bottom: 1px solid $light-grey;
	}
}

#bottom {
	padding: 35px 0 0 0;
	overflow: auto;
}

#footer-menu {
	background-color: $beige;
	border-bottom: 1px solid #fff;
}

#footer {
	background: url('../images/bg_footer.png') top center repeat-x;
	padding: 5px 0 25px;
	border-top: 4px solid $yellow;

	font-size: 12px;
	color: $light-navy;
	text-align: center;

	a {
		color: $light-navy;
		&:hover {
			color: $yellow;
			text-decoration: none;
		}
	}
}


//smart search results page layout

#search-form {

	label {
		display: none;
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
}

dd.result-text {
	margin: 0 0 2em;
}

// pagination for k2 + search

//k2 + search
div.k2Pagination,
div.search-pagination {
	font-size: 12px;
	font-weight: bold;
	color: $navy;
	text-align: center;

	ul {
		margin-bottom: .5em;
		padding: 0;
	}

	li {
		list-style: none;
		font-size: 14px;
		padding: 0 5px;
		color: $light-navy;
		display: inline-block;
		*display: inline;
		*zoom: 1;

		a {
			color: $navy;
		}
	}
}
