// @group modules
.module {} // DO NOT TOUCH

.module h3 {
	font-size: 18px;
	font-weight: bold;
	color: $navy;
	text-shadow: 2px 2px 2px rgba(black, .22);
	padding-bottom: 18px;
	border-bottom: 1px solid $light-grey;
}

#sidebar .module {
	margin-left: 0;
	margin-top: 20px;

	&:first-child {
		margin-top: 0;
	}
}

.module.media-block {
	width: 290px;
	border: 1px solid $light-grey;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 1px 1px 1px rgba(black, .25);
	background: url('../images/bg_mod-header.png') top left no-repeat;
	margin-left: 35px;

	.custom {
		padding-left: 78px;
		position: relative;
	}

	.home & {
		width: 310px;
		float: left;
	}

	&:first-child {
		margin-left: 0;
	}

	> div {
		padding: 15px 13px;
		border-bottom: 4px solid $yellow;
	}

	h3 {
		font-size: 18px;
		color: $yellow;
		text-shadow: 2px 2px 1px rgba(black, .75);
		padding: 0 0 10px 4px;
		border: none;
	}

	.media-image {
		position: absolute;
		@include image-border;
		left: 0;
	}
}

.module.search-bar {
	position: relative;

	input[type="text"] {
		width: 290px;
		border: 1px solid #d7d7d7;
		border-radius: 3px;
		padding: 6px 30px 6px 12px;
		font-weight: lighter;
		font-style: italic;
		color: #b4b4b4;

		&:focus {
			font-style: normal;
			font-weight: normal;
			color: $navy;
		}
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		text-indent: -9999px;
		background: url('../images/icon-search.png') center center no-repeat;
		border: 0;
		width: 28px;
		height: 28px;
	}
}

//k2 module

div.k2ItemsBlock {

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			background: inherit;
			border: none;
		}
	}

	a {
		color: $navy;
	}
}