@import "_variables";
@import "_mixins";

// styles
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $navy; color:#fff; text-shadow: none; }
::selection { background: $navy; color:#fff; text-shadow: none; }


.image-border {
	@include image-border;
}

.image-border-darker {
	@include image-border-darker;
}

.grey-underline {
	border-bottom: 1px solid $light-grey;
}

small a {
	color: $light-navy;
	&:hover {
		text-decoration: none;
	}
}