.clr, .clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection {
  background: #143356;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #143356;
  color: #fff;
  text-shadow: none; }

.image-border {
  border: 1px solid #e5e5e5;
  padding: 3px;
  background-color: #fff;
  border-radius: 2px; }

.image-border-darker {
  border: 1px solid #bdbdbd;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 3px;
  background-color: #fff;
  border-radius: 1px; }

.grey-underline {
  border-bottom: 1px solid #dfe2e7; }

small a {
  color: #47668a; }
  small a:hover {
    text-decoration: none; }

input[type="submit"] {
  padding: 8px 15px !important;
  background-color: #143356;
  color: #ffffff; }
