/* normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */ }

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
table button,
table input {
  *overflow: auto; }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* elements */
body, select, input, textarea {
  color: #143356;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3em; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/templates/sfh/resources/boxsizing.htc); }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }
  .module h1, .module h2, .module h3, .module h4, .module h5, .module h6 {
    margin-top: 0; }

.item-page h1:first-child,
.category-list h1,
h1.itemTitle {
  font-family: "bickham-script-pro", Helvetica, Arial, sans-serif;
  font-size: 46px;
  font-weight: normal;
  line-height: 1em;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #dfe2e7;
  width: 940px;
  padding: 5px 0;
  margin: 0; }
  .home .item-page h1:first-child, .home
  .category-list h1, .home
  h1.itemTitle {
    padding: 0;
    margin: 0;
    border-bottom: 0; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

a, a:active, a:visited {
  color: #516780;
  text-decoration: none; }

a:hover {
  color: #516780;
  text-decoration: underline; }

ul {
  padding-left: 20px; }

/* forms */
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* Colors for form validity */
/* TODO Update valid/invalid colors */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

.chronoform {
  display: none; }

.ccms_form_element {
  padding-left: 0; }

/*
Grids should be setup using the following structure:

div.container
	div.fluid-row-12
		div.span-3
		div.span-6
		div.span-3
	div.fluid-row-16
		div.span-6
		div.span-10

*/
.row-12 {
  margin-left: -20px; }
  .row-12:before, .row-12:after {
    content: "";
    display: table; }
  .row-12:after {
    clear: both; }
  .row-12 {
    zoom: 1; }
  .row-12 div[class*="span"] {
    float: left;
    margin-left: 20; }
  .row-12 .span-1 {
    width: 60px; }
  .row-12 .span-2 {
    width: 140px; }
  .row-12 .span-3 {
    width: 220px; }
  .row-12 .span-4 {
    width: 300px; }
  .row-12 .span-5 {
    width: 380px; }
  .row-12 .span-6 {
    width: 460px; }
  .row-12 .span-7 {
    width: 540px; }
  .row-12 .span-8 {
    width: 620px; }
  .row-12 .span-9 {
    width: 700px; }
  .row-12 .span-10 {
    width: 780px; }
  .row-12 .span-11 {
    width: 860px; }
  .row-12 .span-12 {
    width: 940px; }

.row-16 {
  margin-left: -20px; }
  .row-16:before, .row-16:after {
    content: "";
    display: table; }
  .row-16:after {
    clear: both; }
  .row-16 {
    zoom: 1; }
  .row-16 div[class*="span"] {
    float: left;
    margin-left: 20; }
  .row-16 .span-1 {
    width: 40px; }
  .row-16 .span-2 {
    width: 100px; }
  .row-16 .span-3 {
    width: 160px; }
  .row-16 .span-4 {
    width: 220px; }
  .row-16 .span-5 {
    width: 280px; }
  .row-16 .span-6 {
    width: 340px; }
  .row-16 .span-7 {
    width: 400px; }
  .row-16 .span-8 {
    width: 460px; }
  .row-16 .span-9 {
    width: 520px; }
  .row-16 .span-10 {
    width: 580px; }
  .row-16 .span-11 {
    width: 640px; }
  .row-16 .span-12 {
    width: 700px; }
  .row-16 .span-13 {
    width: 760px; }
  .row-16 .span-14 {
    width: 820px; }
  .row-16 .span-15 {
    width: 880px; }
  .row-16 .span-16 {
    width: 940px; }

.row-24 {
  margin-left: -20px; }
  .row-24:before, .row-24:after {
    content: "";
    display: table; }
  .row-24:after {
    clear: both; }
  .row-24 {
    zoom: 1; }
  .row-24 div[class*="span"] {
    float: left;
    margin-left: 20; }
  .row-24 .span-1 {
    width: 20px; }
  .row-24 .span-2 {
    width: 60px; }
  .row-24 .span-3 {
    width: 100px; }
  .row-24 .span-4 {
    width: 140px; }
  .row-24 .span-5 {
    width: 180px; }
  .row-24 .span-6 {
    width: 220px; }
  .row-24 .span-7 {
    width: 260px; }
  .row-24 .span-8 {
    width: 300px; }
  .row-24 .span-9 {
    width: 340px; }
  .row-24 .span-10 {
    width: 380px; }
  .row-24 .span-11 {
    width: 420px; }
  .row-24 .span-12 {
    width: 460px; }
  .row-24 .span-13 {
    width: 500px; }
  .row-24 .span-14 {
    width: 540px; }
  .row-24 .span-15 {
    width: 580px; }
  .row-24 .span-16 {
    width: 620px; }
  .row-24 .span-17 {
    width: 660px; }
  .row-24 .span-18 {
    width: 700px; }
  .row-24 .span-19 {
    width: 740px; }
  .row-24 .span-20 {
    width: 780px; }
  .row-24 .span-21 {
    width: 820px; }
  .row-24 .span-22 {
    width: 860px; }
  .row-24 .span-23 {
    width: 900px; }
  .row-24 .span-24 {
    width: 940px; }

body {
  background-color: #0d243f; }

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto; }

#wrapper {
  min-width: 960px;
  background-color: white; }

#header {
  height: 250px;
  border-bottom: 5px solid #ffd530;
  background: url("../images/bg_header.jpg") top center no-repeat; }
  .home #header {
    height: 345px; }
  #header > div {
    position: relative;
    top: 50px;
    background: url("../images/bg_menu.png") top center repeat-x;
    padding: 13px 0; }

#main {
  padding: 10px 0 40px; }
  .home #main {
    padding-top: 20px; }

#content {
  float: left;
  width: 590px;
  margin-right: 30px; }
  .home #content {
    font-size: 16px;
    width: 660px;
    border-bottom: 1px solid #dfe2e7; }
  #content.wide1 {
    width: 100%; }

#sidebar {
  float: right;
  width: 320px;
  padding-left: 30px;
  margin-top: 80px;
  border-left: 1px solid #dfe2e7;
  min-height: 328px; }
  .home #sidebar {
    width: 250px;
    margin-top: 10px; }

#bottom {
  float: left;
  padding: 35px 30px 0 0; }

#footer-menu {
  background-color: #f1ebd4;
  border-bottom: 1px solid #fff; }

#footer {
  background: url("../images/bg_footer.png") top center repeat-x;
  padding: 5px 0 25px;
  border-top: 4px solid #ffd530;
  font-size: 12px;
  color: #516780;
  text-align: center; }
  #footer a {
    color: #516780; }
    #footer a:hover {
      color: #ffd530;
      text-decoration: none; }

.category-list .cat-items {
  padding-top: 1em; }
.category-list .list-title {
  display: block;
  margin-bottom: 1em;
  font-weight: bold; }

.module h3 {
  font-size: 18px;
  font-weight: bold;
  color: #143356;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22);
  padding-bottom: 18px;
  border-bottom: 1px solid #dfe2e7; }

.module.media-block {
  float: left;
  width: 290px;
  border: 1px solid #dfe2e7;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  background: url("../images/bg_mod-header.png") top left no-repeat;
  margin-left: 35px; }
  .module.media-block .custom {
    padding-left: 78px;
    position: relative; }
  .home .module.media-block {
    width: 310px; }
  .module.media-block:first-child {
    margin-left: 0; }
  .module.media-block > div {
    padding: 15px 13px;
    border-bottom: 4px solid #ffd530; }
  .module.media-block h3 {
    font-size: 18px;
    color: #ffd530;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
    padding: 0 0 10px 4px;
    border: none; }
  .module.media-block .media-image {
    position: absolute;
    border: 1px solid #e5e5e5;
    padding: 3px;
    background-color: #fff;
    border-radius: 2px;
    left: 0; }
  #sidebar .module.media-block {
    margin-left: 0;
    margin-top: 20px; }
    #sidebar .module.media-block:first-child {
      margin-top: 0; }

div.k2ItemsBlock ul {
  padding: 0;
  margin: 0; }
  div.k2ItemsBlock ul li {
    list-style: none;
    background: inherit;
    border: none; }
div.k2ItemsBlock a {
  color: #143356; }

.hmenu .menu {
  margin: 0;
  padding: 0; }
.hmenu .menu > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 0 5px; }
.hmenu .menu > li > a,
.hmenu .menu > li > span {
  display: block; }
.hmenu ul ul {
  position: absolute;
  margin: 0;
  padding: 0; }
  .hmenu ul ul li {
    white-space: nowrap; }

.primary-menu {
  font-size: 14px;
  text-align: center;
  margin-top: 13px; }
  .primary-menu .menu > li {
    padding: 0 0 11px 35px; }
    .primary-menu .menu > li:first-child {
      padding-left: 0; }
    .primary-menu .menu > li:hover ul {
      display: block; }
  .primary-menu a, .primary-menu span {
    color: #ffffff;
    cursor: pointer; }
    .primary-menu a:hover, .primary-menu span:hover {
      color: #ffd530;
      text-decoration: none; }
  .primary-menu ul ul {
    font-size: 12px;
    display: none;
    top: 29px;
    left: 20px;
    background: url("../images/bg_dropdown-repeat.png") top center repeat;
    border-top: 4px solid #ffd530;
    text-align: left;
    padding: 7px 15px; }
    .primary-menu ul ul li {
      list-style: none;
      line-height: 28px; }

.secondary-menu {
  font-size: 12px;
  text-align: center;
  padding: 25px 0; }
  .secondary-menu .menu > li {
    padding: 0 7px;
    border-left: 1px solid #143356;
    line-height: 1em; }
    .secondary-menu .menu > li:first-child {
      border-left: none; }
    .secondary-menu .menu > li.active {
      font-weight: bold; }
  .secondary-menu a {
    color: #143356; }

.vmenu .menu {
  margin: 0;
  padding: 0; }
.vmenu ul ul {
  margin: 0.5em 0 1em 1em;
  list-style: none; }

.clr, .clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection {
  background: #143356;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #143356;
  color: #fff;
  text-shadow: none; }

.image-border {
  border: 1px solid #e5e5e5;
  padding: 3px;
  background-color: #fff;
  border-radius: 2px; }

small a {
  color: #516780; }
  small a:hover {
    text-decoration: none; }

div.catItemView {
  padding: 0 0 1em 0; }

div.catItemHeader h3.catItemTitle {
  font-size: 16px;
  padding: 0; }
  div.catItemHeader h3.catItemTitle a {
    color: #143356; }
    div.catItemHeader h3.catItemTitle a:hover {
      text-decoration: underline; }

div.catItemBody {
  padding: 0; }

div.itemView {
  border: 0; }

div.itemList,
div.itemBody {
  padding: 22px 0 1em 0; }

div.itemImageBlock {
  padding: 0;
  margin: 1em 0 1em 1em;
  float: right; }

div.k2Pagination li {
  padding: 0 5px; }

span.itemImage img {
  border: 1px solid #e5e5e5;
  padding: 3px;
  background-color: #fff;
  border-radius: 2px; }

div.itemComments {
  background: whitesmoke; }
  div.itemComments ul.itemCommentsList li {
    border: 0; }

.phone-visible, .mobile-visible,
.tablet-hidden, .desktop-hidden {
  display: block; }

.tablet-visible, .desktop-visible,
.phone-hidden, .mobile-hidden {
  display: none; }

@media only screen and (min-width: 480px) {
  .tablet-visible, .mobile-visible,
  .phone-hidden, .desktop-hidden {
    display: block; }

  .phone-visible, .desktop-visible,
  .tablet-hidden, .mobile-hidden {
    display: none; } }
@media only screen and (min-width: 760px) {
  .tablet-visible, .mobile-visible,
  .desktop-visible, .phone-hidden {
    display: block; }

  .phone-visible, .tablet-hidden
  .mobile-hidden, .desktop-hidden {
    display: none; } }
@media only screen and (min-width: 960px) {
  .desktop-visible, .phone-hidden,
  .tablet-hidden, .mobile-hidden {
    display: block; }

  .phone-visible, .tablet-visible,
  .mobile-visible, .desktop-hidden {
    display: none; } }
